[user]
	name = LeHaine
	email = colt.daily@gmail.com
[core]
	editor = nano
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
	helper = store
